@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: theme('colors.zinc.900'); 
  --color: theme('colors.white');
}

body {
  color:var(--color);
  background-color: var(--bg-color);
  @apply h-full overflow-x-hidden;
}

/* In a Next.js app, #__next is the root div where the entire React application is mounted. */
#__next{
  @apply h-full;
}

/* This makes the <html> element take the full height. */
html{
  @apply h-full;
}

